@{
    ViewBag.Title = "Statistiques";
}

<h2>@ViewBag.Title</h2>

<div style="width: 400px; height: 400px;">
    <canvas id="myBarChart"></canvas>
</div>

<div style="width: 400px; height: 400px;">
    <canvas id="myPieChart"></canvas>
</div>

@section Styles {
    <style>
        body {
            background: linear-gradient(to right, #e0f7fa, #f0fcff);
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var ctxBar = document.getElementById('myBarChart').getContext('2d');
        var ctxPie = document.getElementById('myPieChart').getContext('2d');

        var chart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: 'Statistiques',
                    data: [],
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Nombre de tickets',
                        font: {
                            size: 20
                        }
                    }
                }
            }
        });
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $.ajax({
            url: '/Statistics/TotalTickets',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                chart.data.labels.push('Total Tickets');
                chart.data.datasets[0].data.push(data);
                chart.data.datasets[0].backgroundColor.push(getRandomColor());
                chart.update();
            }
        });

        $.ajax({
            url: '/Statistics/OpenClosedTickets',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                chart.data.labels.push('Tickets ouverts', 'Tickets fermés');
                chart.data.datasets[0].data.push(data.openTickets, data.closedTickets);
                chart.data.datasets[0].backgroundColor.push(getRandomColor(), getRandomColor());
                chart.update();
            }
        });
        /*
        $.ajax({
            url: '/Statistics/TotalTickets',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                chart.data.labels.push('Total Tickets');
                chart.data.datasets[0].data.push(data);
                chart.update();
            }
        });

        $.ajax({
            url: '/Statistics/OpenClosedTickets',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                chart.data.labels.push('Tickets ouverts', 'Tickets fermés');
                chart.data.datasets[0].data.push(data.openTickets, data.closedTickets);
                chart.update();
            }
        });
        */
        
        var pieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    backgroundColor: [],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Nombre de tickets par categorie',
                        font: {
                            size: 20
                        }
                    }
                }

            }
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $.ajax({
            url: '/Statistics/TicketsPerCategory',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    pieChart.data.labels.push(data[i].categorie);
                    pieChart.data.datasets[0].data.push(data[i].count);
                    pieChart.data.datasets[0].backgroundColor.push(getRandomColor()); // Generates a random color for each category.
                }
                pieChart.update();
            }
        });
    </script>
}
