@model gestionticket_v2.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrioriteId" class="control-label"></label>
                <select asp-for="PrioriteId" class="form-control" asp-items="ViewBag.Priorite"></select>
                <span asp-validation-for="PrioriteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategorieId" class="control-label"></label>
                <select asp-for="CategorieId" class="form-control" asp-items="ViewBag.Categorie"></select>
                <span asp-validation-for="CategorieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auteur.Nom" class="control-label"></label>
                <input asp-for="Auteur.Nom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AssigneeId" class="control-label"></label>
                <select asp-for="AssigneeId" class="form-control" asp-items="ViewBag.AssigneeId"></select>
            </div>

         

            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                <select asp-for="Statut" class="form-control" asp-items="@(new SelectList(ViewBag.StatusList))"></select>
            </div>

            <div class="form-group">
                <label asp-for="DateCreation" class="control-label"></label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModification" class="control-label"></label>
                <input asp-for="DateModification" class="form-control" />
                <span asp-validation-for="DateModification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TechnicianTickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
